/* Table of Contents */
/**
 * CH01 - General
 * CH02 - Typography
 * CH03 - Page Structure
 * CH04 - Header & Navigation
 * CH05 - Content & Media
 * CH06 - Footer
 * CH07 - Miscellaneous
**/





/* CH01 - General */
* {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: initial;
}

/* CH02 - Typography */


/* CH03 - Page Structure */
body {
  height: 100%;
  background-color:#000000;
}

/* CH04 - Header & Navigation */


/* CH05 - Content & Media */


/* CH06 - Footer */


/* CH07 - Miscellaneous */



/*==========  Non-Mobile First Method  ==========*/

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
