<div class="container" ng-controller="BookshelfController as bookshelfCtrl">
    <h2>Book List</h2>
        <button class="btn-primary btn" ng-click="bookshelfCtrl.showForm = !bookshelfCtrl.showForm">{{bookshelfCtrl.showForm === true ? "Cancel" : "Create a Review" }}</button>
        <hr>
        <review-form ng-show="bookshelfCtrl.showForm" books="bookData" genres="bookshelfCtrl.genres"></review-form>
        <hr>
    <div class="row">
        <ul class="col-lg-8 list-unstyled">
            <li class="book row" ng-repeat="book in bookData">
                <book-cover></book-cover>
                <div class="col-lg-9">
                    <h3><a href="http://www.amazon.com/gp/product/{{book.isbn}}">{{book.title}}</a></h3>
                    <cite class="text-muted">Written by {{book.author}}</cite>
                    <p>{{book.review}}</p>
                    <book-genres genres="book.genres"></book-genres>
                </div>
                <div class="col-lg-3">
                  <a ng-href="#/books/{{book.isbn}}"><button type="button" name="more" class="btn btn-primary">View More</button></a>
                </div>
            </li>
        </ul>
    </div>
</div>
